@import "./scss/keywordModule";
@import "./scss/variablesAndFunctions";
@import "./scss/searchModule";
@import "./scss/moduleMetaDescription";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  @include flexCenter(row);
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 10vh;
  background-color: rgb(184, 182, 182);
  font-size: xx-large;
  font-weight: weight(bold);
}

#display {
  position: relative;
  width: 100vw;
  min-height: 85vh;
  background-color: antiquewhite;
}

.footer {
  @include flexCenter(row);
  position: relative;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 5vh;
  background-color: $footerBackground;
  color: white;
  font-weight: weight(light);
  font-size: x-small;
}

.commandBtns {
  display: flex;
  justify-content: space-evenly;

  .moduleBtn {
    height: 3rem;
    font-size: medium;
    padding: 5px 10px;
    margin: 10px;
  }
}
.companyName {
  padding: 10px;
  line-height: 1.5;
}

.keywordsToSearch {
  padding: 10px;
  line-height: 1.5;
}

.docToSearch {
  padding: 10px;
  line-height: 1.5;
}

.metaDescription {
  padding: 10px;
  line-height: 1.5;
}

.resultBtnDiv {
  display: flex;
  align-content: center;
  justify-content: center;
  .resultBtn {
    height: 3rem;
    font-size: medium;
    padding: 5px 10px;
    margin: 10px;
    button {
      margin: auto;
    }
  }
}
.resultsParagraphDiv {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  p {
    white-space: pre;
    line-height: 1.5;
  }
  .resultsParagraphKeywords {
    text-align: center;
  }

  .resultsParagraphNumbers {
    padding-right: 10px;
    text-align: right;
  }
  .resultsParagraphFillerNumbers {
    padding-left: 10px;
    text-align: left;
  }
  .resultsParagraphCompanyName {
    padding-left: 10px;
  }
}

.resultsParagraphDivTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
  p {
    white-space: pre;
    line-height: 1.5;
  }
}
