$footerBackground: black;

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

$font-weights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

@function weight($weight-name) {
  @return map-get($map: $font-weights, $key: $weight-name);
}
